:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Verdana", sans-serif;
  --content-width: 1440px;
  --container-offset: 36px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --text-main: #000;
  --main-color: #0024ff;
  --grey-color: #f6f7f8;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/../fonts/Arial-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/../fonts/Verdana-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/../fonts/Arial-Bold.woff2") format("woff2");
  font-weight: 7 0;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  color: var(--text-main);
  background-color: #f6f7f8;
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay_visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #161824;
}

.main-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #0024ff;
}

.header {
  padding-top: 18px;
  padding-bottom: 10px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__logo {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 86px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__button {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 163px;
}

.hero {
  margin-bottom: 50px;
  background-image: url("../img/main-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 186px 310px 24px;
  color: #fff;
}
.hero__title {
  margin: 0;
  padding: 0 110px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.hero__sub-title {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.hero .hero__btn {
  margin-bottom: 24px;
  padding: 13px 29px 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #0024ff;
}
.hero .hero__btn_white.btn {
  background-color: #fff;
}
.hero__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 220px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}
.options__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #f6f6f8;
}

.activities {
  margin-bottom: 80px;
}
.activities__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 36px;
}
.activities__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #161824;
}
.activities__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  height: 100%;
}

.cases {
  margin-bottom: 80px;
}
.cases__list {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cases__item .card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  max-width: 310px;
}
.cases__item:not(:last-child) {
  margin-right: 36px;
}

.testimonials {
  margin-bottom: 80px;
}
.testimonials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.testimonials__icon {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.testimonials__item {
  -ms-flex-preferred-size: 432px;
  flex-basis: 432px;
}
.testimonials .card {
  padding: 30px 42px 122px 30px;
}

.our-team {
  margin-bottom: 80px;
}
.our-team .card {
  padding: 0;
  background-color: var(--grey-color);
}
.our-team .card__image {
  height: auto;
}
.our-team__link {
  margin-bottom: 24px;
}
.our-team__item:not(:last-child) {
  margin-right: 36px;
}
.our-team__list {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.our-team .card__content {
  padding-left: 0;
  padding-right: 0;
}
.our-team .card__descr {
  margin: 0;
  font-family: var(--second-family);
  line-height: 31.98px;
  color: #393939;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 182px;
  gap: 100px;
  background-color: #fff;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services__item:hover {
  background-color: var(--main-color);
}
.services__item:hover .services__link {
  color: var(--light-color);
}
.services__item:hover .services__svg {
  background-color: var(--main-color);
}
.services__item:hover .services__svg path {
  fill: var(--light-color);
}
.services__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 49px;
  color: #484848;
  background-color: transparent;
}
.services__svg {
  margin-bottom: 10px;
}
.services__svg path {
  fill: #0024ff;
}

.customer-reviews {
  margin-bottom: 80px;
}
.customer-reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: var(--light-color);
}
.customer-reviews__slider {
  margin-bottom: 24px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40%;
  font-size: 18px;
  text-align: center;
  background: #fff;
}
.swiper-slide:nth-child(2n) {
  width: 40%;
}
.swiper-slide:nth-child(3n) {
  width: 40%;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 56px 56px 56px 30px;
}
.customer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.customer__descr {
  margin: 0;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: #161824;
}
.customer__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.customer__avatar {
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contacts__working {
  width: 40%;
}
.contacts__geo {
  width: 45%;
}

.working {
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 49px;
  color: #161824;
}
.working__address {
  line-height: 30px;
  width: 100%;
}
.working__link {
  color: var(--text-main);
}
.working__item {
  padding-left: 44px;
  margin-bottom: 16px;
}

.icon--time {
  background-position: left center;
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-image: url("./../img/svg/time.svg");
}
.icon--email {
  background-position: left center;
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-image: url("./../img/svg/Mail.svg");
}
.icon--tel {
  background-position: left center;
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-image: url("./../img/svg/Phone.svg");
}
.icon--address {
  background-position: left center;
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-image: url("./../img/svg/Location.svg");
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 33px;
  text-transform: uppercase;
  color: var(--text-main);
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}

.btn {
  padding: 6px 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  white-space: nowrap;
  text-align: center;
  background-color: var(--main-color);
  cursor: pointer;
  color: var(--light-color);
}

.card {
  padding: 65px 44px 65px 30px;
  background-color: #fff;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 24px 24px 12px;
}
.card__content .card__descr {
  line-height: 28px;
}
.card__title {
  position: relative;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #161824;
}
.card__descr {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #161824;
}
.card__link {
  margin-top: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #0024ff;
}
.card.testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card.testimonials__item:not(:last-child) {
  margin-right: 36px;
}
.card__image {
  min-width: 310px;
  height: 200px;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/*# sourceMappingURL=main.css.map */